GEMINI_API_KEY=
APPCHECK_DEBUG_TOKEN_ANDROID=
APPCHECK_DEBUG_TOKEN_IOS=
APP_RELEASE_KEY_PASSWORD=
APP_RELEASE_STORE_PASSWORD=
AWS_ACCESS_KEY_ID=
AWS_DEVICE_FARM_PROJECT_ARN=
AWS_DEVICE_POOL_ARN_ANDROID=
AWS_DEVICE_POOL_ARN_IOS=
AWS_REGION=
AWS_SECRET_ACCESS_KEY=
ENABLE_AUTHENTICATION=
ENABLE_OFFLINE_MODE=
ENABLE_PALSHUB_INTEGRATION=
FIREBASE_FUNCTIONS_URL=
GOOGLE_IOS_CLIENT_ID=
GOOGLE_WEB_CLIENT_ID=
PALSHUB_API_BASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_URL=
export NODE_BINARY=